<div class="row">
  <div class="span6">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"} )  do |f| %>
      <div class="control-group">
        <div class="controls">
          <h4 class="page-heading">Sign in to your account</h4>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, :class => "control-label"%>
        <div class="controls">
          <%= f.email_field :email %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, :class => "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.submit "Sign in", :class => ["btn", "btn-success"] %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          <% end -%>
        </div>
      </div>

    <% end %>
  </div>
</div>

