.navbar.navbar-fixed-top
  .navbar-inner
    .container
      =link_to "TMHSS", root_url, :class => 'brand'
      %ul.nav
        %li
          = link_to 'Home', '#'
        %li
          = link_to 'Academic', '#'
        %li
          = link_to 'About Us', '#'
        %li
          = link_to 'Students', students_path
        %li
          = link_to 'Results', results_path
      %ul.nav.pull-right
        - if current_user
          %li
            %p.navbar-text
              = "Welcome, #{current_user.email}!"
          %li
            = link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %li
            =link_to 'Sign In', new_user_session_path, :id => 'signin'
.row
  .span12.well.banner_image{:style => 'min-height: 100px;text-align:center'}
    %h2 Thiagarajar Model higher Secondary School
    %h4 Education Beyond Tomorrow        